ul {
    list-style: none;
}

#page-numbers {
    list-style: none;
    display: block;
    float: left;
    text-align: left;
}

#page-numbers li {
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid darkslategray;
    margin-bottom: 1em;
    width: 2em;
    line-height: 2em;
    user-select: none;
    cursor: pointer;
    display: block;
}

#page-numbers li:hover {
    background-color: slategray;
}

#page-numbers li[active="true"] {
    background-color: gray;
    border-color: darkgray;
}

ul.joke {
    margin-bottom: 1em;
    margin-left: 1em;
}